<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="SelectedPhotoAccess">

    <!-- uses-feature -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.audio.output"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony.gsm"
        android:required="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />

    <uses-feature android:glEsVersion="0x20000" android:required="true"/>
    <!-- uses-feature -->
    <!-- Permissions -->
    <!-- For general file access -->
    <uses-permission android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="miui.permission.USE_INTERNAL_GENERAL_API" />
    <uses-permission android:name="miui.permission.INTERACT_WITH_SYSTEM_UI" />

    <uses-permission android:name="android.permission.START_FOREGROUND_SERVICES_FROM_BACKGROUND"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />

    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> <!-- For general file access -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- CONTACTS -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" /> <!-- CONTACTS -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- FOREGROUND_SERVICE -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_START_FOREGROUND_SERVICES_FROM_BACKGROUND" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.MEDIA_PROJECTION" />

    <uses-permission
        android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE"
        tools:ignore="ProtectedPermissions" /> <!-- FOREGROUND_SERVICE -->
    <!-- LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_SYSTEM_APPS" />
    <uses-permission android:name="android.permission.RUN_USER_INITIATED_JOBS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission
        android:name="android.permission.FRAME_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />


    <application
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsEye"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config"
            tools:ignore="Deprecated" />
        <!-- Activities -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".noLogin.LoginOrSingup"
            android:exported="true" />
        <activity
            android:name=".noLogin.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".noLogin.SignupActivity"
            android:exported="true" />
        <activity
            android:name=".qrCode.CustomCaptureActivity"
            android:exported="true"
            android:stateNotNeeded="true" />
        <activity android:name=".profile.ProfileActivity" android:exported="true"  />
        <activity android:name=".profile.UpdateProfileActivity" android:exported="true"  />
        <activity android:name=".profile.AddProfileInfo" android:exported="true"  />
        <!-- WhatsApp -->

        <activity
            android:name=".whatsapp.WhatsAppLinkActivity"
            android:exported="true"
            />

        <activity
            android:name=".whatsapp.WhatsAppLink2Activity"
            android:exported="true"
            android:process=":WhatsApp2"
            />
         <activity android:name=".LoggedInActivity" android:exported="true"/>

         <activity android:name=".whatsapp.WhatsAppLinkInformActivity" android:exported="true"/>
         <!-- WhatsApp  -->

        <!-- Access -->
        <activity
            android:name=".access.BackgroundLocationPermissionActivity"
            android:exported="true" />
        <activity
            android:name=".access.LockScreenNewPINActivity"
            android:exported="true" />
        <activity android:name=".LockScreenActivity"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/FullScreenOverlayTheme" />
        <activity
            android:name=".access.MicrophonePermissionActivity"
            android:exported="true" />

        <activity
            android:name=".access.AccessibilityPermissionActivity"
            android:exported="true" />
        <activity
            android:name=".access.DeviceAdminPermissionActivity"
            android:exported="true" />
        <activity
            android:name=".access.OverlayPermissionActivity"
            android:exported="true" />
        <activity
            android:name=".access.UsageAccessPermissionActivity"
            android:exported="true" />
        <activity
            android:name=".access.AutoStartAgreementActivity"
            android:exported="true" />
        <activity
            android:name=".access.IgnoreBatteryOptimizationActivity"
            android:exported="true" />
        <activity
            android:name=".access.NotificationPermissionActivity"
            android:exported="true" />
        <activity
            android:name=".access.FileAccessPermissionActivity"
            android:exported="true" />
       <!-- End Access -->
        <!-- End Activities -->
        <!-- Services -->

        <!-- MyDeviceAdminReceiver -->
        <receiver
            android:name=".access.DeviceAdminReceiver"
            android:description="@string/Admin_description"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver> <!-- End  MyDeviceAdminReceiver -->
        <!-- BootBroadcastReceiver -->
        <receiver
            android:name=".access.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver> <!-- End BootBroadcastReceiver -->

        <!-- MyAccessibilityService -->
        <service
            android:name=".services.AccessibilityService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibility-service"
                android:resource="@xml/accessibility_service_config" />
        </service> <!-- End MyAccessibilityService -->
        <!-- NotificationListenerService -->
        <service
            android:name=".services.NotificationListener"
            android:label="@string/app_name"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service> <!-- End NotificationListenerService -->

        <service
            android:name=".services.AlwaysRunningService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".services.RecordingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProcessing|microphone"
         />

        <service
            android:name=".services.ScreenRecorderService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection|mediaProcessing|microphone" />

        <activity
            android:name=".services.CaptureActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <!-- End AppMonitorService -->
        <!-- End AppMonitorService -->


    </application>

</manifest>